.select2-result-list { padding-top: 4px; padding-bottom: 3px; }
.select2-result-list__avatar { float: left; width: 60px; margin-right: 10px; }
.select2-result-list__avatar img { width: 100%; height: auto; border-radius: 2px; }
.select2-result-list__meta { margin-left: 70px; }
.select2-result-list__description { font-size: 13px; color: #777; margin-top: 4px; }

.wid-u-info h4 {
    white-space: nowrap;
    overflow: hidden;
}
